<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gazua.meeting_room_api.Mapper.ProjectMapper">
    <insert id="createProject" parameterType="map">
            INSERT INTO T_PROJ_INFO_MAST
            (PROJ_NM,
            PROJ_PASSWD,
            PROJ_COMMENT,
            REMOVE_DT,
            REG_ID,
            REG_DT,
            UPD_ID,
            UPD_DT)
            VALUES
            (#{projNm},
            LPAD(CONV(FLOOR(RAND()*POW(36,10)), 10, 36), 10, 0),
            #{projComment},
            NULL,
            'SYSTEM',
            SYSDATE(),
            'SYSTEM',
            SYSDATE())
        <selectKey resultType="int"
                   keyProperty="projId"
                   order="AFTER">
            SELECT LAST_INSERT_ID()     <!-- 가장 마지막에 INSERT 된 PK를 요청Map으로 리턴 -->
        </selectKey>
    </insert>

    <insert id="createUserProjectMapping" parameterType="map">
        INSERT INTO T_USER_PROJ_MAPP
        (USER_ID,
        PROJ_ID,
        PROJ_NICKNAME,
        ADMIN_YN,
        OUT_DT,
        REG_ID,
        REG_DT,
        UPD_ID,
        UPD_DT)
        VALUES
        (#{userId},
        #{projId},
        #{projNickname},
        'Y',
        NULL,
        'SYSTEM',
        SYSDATE(),
        'SYSTEM',
        SYSDATE())
    </insert>

    <update id="updateProject" parameterType="map">
        UPDATE T_PROJ_INFO_MAST
        SET UPD_ID = #{userId}
          , UPD_DT = SYSDATE()
        <if test="projNm!=null and !projNm.equals('')">
          , PROJ_NM = #{projNm}
        </if>
        <if test="projComment!=null and !projComment.equals('')">
          , PROJ_COMMENT = #{projComment}
        </if>
        <if test="removeDt!=null and !removeDt.equals('')">
          , REMOVE_DT = STR_TO_DATE(#{removeDt}, '%Y%m%d%H%i%s')
        </if>
        WHERE 1=1
        AND PROJ_ID = #{projId}
    </update>

    <select id="selectProjectByPk" parameterType="int" resultType="map">
        SELECT
            A.PROJ_ID AS projId,
            A.PROJ_NM AS projNm,
            A.PROJ_PASSWD AS projPasswd,
            A.PROJ_COMMENT AS projComment,
            A.REMOVE_DT AS removeDt,
            B.PROJ_NICKNAME AS projNickname,
            A.REG_ID AS regId,
            A.REG_DT AS regDt,
            A.UPD_ID AS updId,
            A.UPD_DT AS updDt
        FROM T_PROJ_INFO_MAST A, T_PROJ_USER_MAPP B
        WHERE 1=1
          AND A.PROJ_ID = #{projId}
          AND B.PROJ_ID = A.PROJ_ID
    </select>

    <select id="selectProjectByUserId" parameterType="int" resultType="com.gazua.meeting_room_api.Dto.ProjectDto$RResponse">
        SELECT
            B.PROJ_ID AS projId,
            B.PROJ_NM AS projNm,
            B.PROJ_PASSWD AS projPasswd,
            B.PROJ_COMMENT AS projComment,
            B.REMOVE_DT AS removeDt,
            A.PROJ_NICKNAME AS projNickname,
            B.REG_ID AS regId,
            B.REG_DT AS regDt,
            B.UPD_ID AS updId,
            B.UPD_DT AS updDt
        FROM T_PROJ_USER_MAPP A, T_PROJ_INFO_MAST B
        WHERE 1=1
          AND A.USER_ID = #{userId}
          AND B.PROJ_ID = A.PROJ_ID
    </select>
</mapper>